/* Global styles */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #EADEDA;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  background-color: #EADEDA;
}

@media screen and (min-width: 600px) {
  .auth-form-container{
    padding: 5rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  font-weight: 500;
  color: black;
  text-align: left;
  padding: 0.25rem 0;
}

input {
  color: black;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: #998888;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
}

button:hover {
  background-color: #BFB8AD;
}

.link-btn {
  background: none;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

/* Home styles */
h1 {
  color: #000000;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
}

.post-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.2s;
}

.post-item:hover {
  transform: scale(1.05);
}

.post-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.post-title {
  text-decoration: none;
  margin: 10px 0;
}

.post-desc {
  color: #000000;
}

.par-coursel {
  width: 600px;
  margin: auto;
  align-items: center;
}

.par-coursel .coursel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

/* Add Recipe styles */
.add-recipe-page {
  display: block;
  text-align: left;
  width: 100%;
}

.add-recipe-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eae3da;
}

.add-recipe-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.add-recipe-container form div {
  margin-bottom: 15px;
}

.add-recipe-container label {
  display: block;
  margin-bottom: 5px;
}

.add-recipe-container input,
.add-recipe-container textarea,
.add-recipe-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-recipe-container button {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.img-small {
  color: black;
}

.form-container {
  padding-right: 20px;
}

/* Comment section */
.comments-section-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.comments-section {
  max-width: 600px;
  width: 100%;
  background-color: #cdcdcd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.comment-form button {
  padding: 10px;
  background-color: #998888;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #BFB8AD;
}

.comments-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.comment-item p {
  margin: 0;
}

.comment-item span {
  display: block;
  font-size: 0.8em;
  color: #777;
}

.bubble-text {
  color: #000000;
}

.bubble-text:hover {
  color: #8A3033;
}

.post-img{
    width: 100%;
    height: 200px; /* You can adjust this height as needed */
    object-fit: cover; /* This will ensure the image covers the container while maintaining aspect ratio */
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .App {
    flex-direction: column;
    padding: 20px;
  }

  .auth-form-container {
    padding: 2rem;
    margin: 1rem;
    border: none;
  }

  .posts-grid {
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
  }

  .add-recipe-container {
    margin: 20px auto;
    padding: 10px;
  }

  .par-coursel {
    width: fit-content;
  }

  .par-coursel .coursel {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
